<template>
    <div class="register">
        <div class="header">
            <div class="title">Регистрация</div>
            <div class="subtitle">Уже есть аккаунт? <a href="#" class="link">Войти</a></div>
        </div>
        <div class="body">
            <form action="" class="form">
                <div class="group">
                    <label for="name" class="name">Имя</label>
                    <input v-model="form.name.value" id="name" type="text" class="field" placeholder="Введите Ваше имя">
                    <ErrorMessage :hidden="!form.name.error" />
                </div>
                <div class="group">
                    <label for="email" class="name">Email</label>
                    <input v-model="form.email.value" id="email" type="email" class="field" placeholder="Введите ваш email" required>
                    <ErrorMessage :hidden="!form.email.error" />
                </div>
                <div class="group">
                    <label for="phone" class="name">Номер телефона</label>
                    <input v-model="form.phone.value" id="phone" type="text" class="field" placeholder="Введите номер телефона" required>
                    <ErrorMessage :hidden="!form.phone.error" />
                </div>
                <div class="group">
                    <label for="lang" class="name">Язык</label>
                    <Dropdown id="lang" :items="dropdownItems" v-model="form.lang.value" defValue="Язык" />
                    <ErrorMessage :hidden="!form.lang.error" />
                </div>
                <div class="confirm">
                    <label class="checkbox">
                        <input type="checkbox" v-model="form.checked">
                        <span class="checkmark"></span>
                    </label>
                    <div class="bold-text">Принимаю <a href="#" class="link">условия</a> использования</div>
                </div>
            </form>
        </div>
        <div class="footer">
<!--            add type-->
            <Button text="Зарегистрироваться" :disabled="!validate" />
        </div>
    </div>
</template>

<script>
    import Dropdown from "../components/Dropdown";
    import Button from "../components/Button";
    import ErrorMessage from "../components/ErrorMessage";

    export default {
        name: "PageRegister",
        computed: {
            validate() {
                const { name, email, phone, lang, checked } = this.form;
                let valid = true;

                const nameRegExp = /^[а-яА-Яa-zA-Z\s-]+$/;
                const emailRegExp = /^(?:[a-z0-9]+(?:[-_.]?[a-z0-9]+)?@[a-z0-9_.-]+(?:\.?[a-z0-9]+)?\.[a-z]{2,5})$/i;
                const phoneRegExp = /^[+]?[(]?[0-9]{3}[)]?[-\s.]?[0-9]{3}[-\s.]?[0-9]{4,6}$/im;

                if (name.value === '') {
                    valid = false;
                } else if (name.value && !nameRegExp.test(name.value)) {
                    name.error = true;
                    valid = false;
                } else {
                    name.error = false;
                }

                if (email.value === '') {
                    valid = false;
                } else if (email.value && !emailRegExp.test(email.value)) {
                    email.error = true;
                    valid = false;
                } else {
                    email.error = false;
                }

                if (phone.value === '') {
                    valid = false;
                } else if (phone.value && !phoneRegExp.test(phone.value)) {
                    phone.error = true;
                    valid = false;
                } else {
                    phone.error = false;
                }

                if (lang.value === '') {
                    valid = false;
                } else if (lang.value === '') {
                    lang.error = true;
                    valid = false;
                } else {
                    lang.error = false;
                }

                if (!checked) {
                    valid = false;
                }

                return valid;
            }
        },
        components: {
            Dropdown,
            Button,
            ErrorMessage
        },
        data: () => ({
            dropdownItems: [
                {id: 0, name: 'Русский'},
                {id: 1, name: 'Английский'},
                {id: 2, name: 'Китайский'},
                {id: 2, name: 'Испанский'},
            ],
            form: {
                name: {
                    value: '',
                    error: false
                },
                email: {
                    value: '',
                    error: false
                },
                phone: {
                    value: '',
                    error: false
                },
                lang: {
                    value: '',
                    error: false
                },
                checked: false
            }
        }),
    }
</script>

<style scoped>
    .register {
        position: relative;
        font-family: 'IBM Plex Sans', sans-serif;
        background: #fff;
        font-size: 16px;
        border-radius: 1.5em;
        padding: 2.5em 1.875em;
        box-shadow:
                0 2em 4em 0 rgba(44, 39, 56, 0.04),
                0 0.75em 1.5em 0 rgba(44, 39, 56, 0.02);
    }

    .title {
        color: #2C2738;
        font-size: 2.125em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .subtitle {
        color: #2C2738;
        font-size: 1em;
    }

    .link {
        color: #0880AE;
        text-decoration: none;
    }

    .header {
        position: relative;
        margin-bottom: 3.284375em;
    }

    .body {
        position: relative;
        margin-bottom: 2.399375em;
    }

    .group {
        position: relative;
        margin-bottom: 0.375em;
    }

    .group:last-child {
        margin-bottom: 0;
    }

    .name {
        display: block;
        color: #756F86;
        font-weight: 500;
        font-size: 1em;
        margin-bottom: 0.41875em;
    }

    .field {
        position: relative;
        background: #FFFFFF;
        border: 0.0625em solid #DBE2EA;
        border-radius: 0.375em;
        box-shadow: 0 0.25em 0.5em 0 rgba(44, 39, 56, 0.04);
        outline: none;
        font-size: 1em;
        color: #2C2738;
        font-family: inherit;
        font-weight: inherit;
        padding: 1em;
        width: 25em;
        margin-bottom: 0.5em;
    }

    .field:focus {
        border: 0.125em solid #0880AE;
    }

    .field::placeholder {
        font-family: inherit;
        color: #7C9CBF;
        font-weight: inherit;
    }

    .checkbox {
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 1.75em;
        width: 1.75em;
        margin-right: 0.5em;
    }

    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        width: inherit;
        box-sizing: border-box;
        border-radius: 0.25em;
        background-color: #fff;
        border: 0.0625em solid #DBE2EA;
        box-shadow: 0 0.25em 0.5em 0 rgba(44, 39, 56, 0.04);
    }

    .checkbox:hover input ~ .checkmark {
        background-color: #fff;
    }

    .checkbox input:checked ~ .checkmark {
        background-color: #fff;
        border: 0.125em solid #0880AE;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    .checkbox .checkmark:after {
        content: '';
        background: url(../assets/Icon.png);
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .confirm {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .bold-text {
        font-size: 1em;
        font-weight: 500;
        color: #756F86;
    }

    /* Small devices (landscape phones, 576px and up)*/
    @media (min-width: 0px) {
        .register {
            font-size: 9px;
        }
    }

    /* Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) {
        .register {
            font-size: 8px;
        }
    }

    /*Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {
        .register {
            font-size: 11px;
        }
    }

    /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
        .register {
            font-size: 13px;
        }
    }

    /*X-Large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {
        .register {
            font-size: 15px;
        }
    }

    /*XX-Large devices (larger desktops, 1400px and up)*/
    @media (min-width: 1400px) {
        .register {
            font-size: 16px;
        }
    }
</style>