<template>
    <button :disabled="disabled" class="btn">
        {{text}}
    </button>
</template>

<script>
    export default {
        name: "Button",
        props: ['text', 'disabled']
    }
</script>

<style scoped>
    .btn {
        font-family: 'IBM Plex Sans', sans-serif;
        position: relative;
        width: 100%;
        background-color: #0880AE;
        font-size: 1em;
        padding: 1.125em 0;
        font-weight: 500;
        color: #EBF4F8;
        border: none;
        outline: none;
        border-radius: 0.375em;
        cursor: pointer;
    }

    .btn:hover {
        box-shadow: 0 1.5em 3em 0 rgba(44, 39, 56, 0.16),
                    0 0.75em 1.5em 0 rgba(44, 39, 56, 0.08);
    }

    .btn:active {
        border: 0.125em solid rgba(44, 39, 56, .86);
        box-shadow: 0 0.25em 0.5em 0 rgba(44, 39, 56, 0.08),
                    0 0.125em 0.25em 0 rgba(44, 39, 56, 0);
    }

    .btn:disabled {
        background-color: #DBE2EA;
        box-shadow: 0 0.25em 0.5em 0 rgba(44, 39, 56, 0.08);
        color: #2C2738;
    }
</style>