<template>
    <div class="dropdown" @click="show = !show">
        <div class="field" :class="{'focus': show}">
            <span class="name" :class="{'placeholder': !value}">{{value ? value.name : defValue}}</span>
            <svg class="arrow" width="1.875em" height="1.875em" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 17.5858L21.2929 11.2929C21.6834 10.9024 22.3166 10.9024 22.7071 11.2929C23.0976 11.6834 23.0976 12.3166 22.7071 12.7071L15.7071 19.7071C15.3166 20.0976 14.6834 20.0976 14.2929 19.7071L7.29289 12.7071C6.90237 12.3166 6.90237 11.6834 7.29289 11.2929C7.68342 10.9024 8.31658 10.9024 8.70711 11.2929L15 17.5858Z" fill="black"/>
                <mask id="mask0_0:312" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="7" y="11" width="16" height="9">
                    <path d="M15 17.5858L21.2929 11.2929C21.6834 10.9024 22.3166 10.9024 22.7071 11.2929C23.0976 11.6834 23.0976 12.3166 22.7071 12.7071L15.7071 19.7071C15.3166 20.0976 14.6834 20.0976 14.2929 19.7071L7.29289 12.7071C6.90237 12.3166 6.90237 11.6834 7.29289 11.2929C7.68342 10.9024 8.31658 10.9024 8.70711 11.2929L15 17.5858Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_0:312)">
                    <rect width="30" height="30" fill="#0880AE"/>
                </g>
            </svg>
        </div>
        <ul class="items" v-if="show" >
            <li class="item" v-for="(item, index) in items" :key="index" @click="select(item)">
                <label>
                    <input type="checkbox" :value="item"/>
                    {{item.name}}
                </label>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "Dropdown",
        data: () => ({
            show: false
        }),
        props: ['items', 'value', 'defValue'],
        methods: {
            select(item) {
                this.$emit('input', item)
            }
        }
    }
</script>

<style scoped>
    .dropdown {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1em;
    }

    .field {
        position: relative;
        background: #FFFFFF;
        border: 0.0625em solid #DBE2EA;
        box-shadow: 0 0.25em 0.5em 0 rgba(44, 39, 56, 0.04);
        outline: none;
        display: grid;
        grid-template-columns: 10fr 1fr;
        border-radius: 0.375em;
        padding: 1em;
    }

    .field.focus {
        border: 0.125em solid #0880AE;
    }

    .name {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        font-size: 1em;
        cursor: pointer;
        color: #2C2738;
    }

    .name.placeholder {
        color: #7C9CBF;
    }

    .arrow {
        justify-self: end;
    }

    .items {
        z-index: 10;
        max-height: 12.5em;
        border: 0.0625em solid #dddddd;
        overflow: auto;
        position: absolute;
        margin: 0.25em 0 0;
        width: 100%;
        background: #FFFFFF;
        padding: 0.75em 0;
        box-sizing: border-box;
        border-radius: 0.375em;
        box-shadow:
                0 1.25em 1.25em 0 rgba(44, 39, 56, 0.04),
                0 0.25em 0.5em 0 rgba(44, 39, 56, 0.04);
    }

    .items::-webkit-scrollbar {
        width: 0;
    }

    .item {
        display: grid;
        align-content: center;
        padding: 0.75em 0.9375em;
        color: #756F86;
    }

    .item:hover {
        background: #EBF4F8;
    }

    .item input{
        display: none;
    }
</style>