<template>
    <div class="error-message" :class="{'hidden': hidden}">Введено не корректное значение</div>
</template>

<script>
    export default {
        name: "ErrorMessage",
        props: ['hidden']
    }
</script>

<style scoped>
    .error-message {
        font-size: 0.875em;
        color: #FF7171;
    }

    .error-message.hidden {
        opacity: 0;
    }
</style>