<template>
  <div id="app">
    <PageRegister />
  </div>
</template>

<script>
import PageRegister from './pages/PageRegister';

export default {
  name: 'App',
  components: {
    PageRegister
  }
}
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
  }
</style>
